<footer>
  <div class="container">
     <div class="row">
        <div class="col-xs-12 col-md-8">
           <p>
             © 2016
             <a href="http://www.escapepodgame.com">Huntsville Entertainment Adventures, LLC</a>
               and
             <a href="http://clontz.org">Steven Clontz</a>
           </p>
        </div>
        <div class="col-xs-12 col-md-2 col-md-offset-2">
           <p><a href="#" class="right">Back to Top</a></p>
        </div>
     </div>
  </div>
</footer>

<script src="/js/jquery-2.2.0.min.js"></script>
<script src="/js/jquery.flexslider.js"></script>
<script src="/js/scroll.js"></script>
<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
     $('.flexslider').flexslider();
  });
</script>
