<head>
   <meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="{{ site.description }}">
   <meta property="og:image" content="https://stevenclontz.github.io/escape-pod-puzzlehunt-2016/{{ site.header-img }}" />
   <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
   <link rel="icon" href="https://stevenclontz.github.io/escape-pod-puzzlehunt-2016/img/favicon.ico">
   <link rel="stylesheet" type="text/css" href="http://www.escapepodgame.com/css/flexslider.css">
   <link rel="stylesheet" type="text/css" href="http://www.escapepodgame.com/css/normalize.css">
   <link rel="stylesheet" type="text/css" href="http://www.escapepodgame.com/css/grid.css">
   <link rel="stylesheet" type="text/css" href="/css/site.css">
</head>

<head>
