---
layout: default
---

   <section class="bg-orange what" id="what">
      <div class="container">
         <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
               <div class="card card-feature">
                  <div class="lead">
                    {{ content }}
                  </div>
               </div>
            </div>
         </div>
         {% if page.home-page %}
         <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3 order txt-center">
               <h4>Save the City on November 12, 2016!</h4>
               <p><a href="https://twitter.com/escapepodgame" class="btn btn-secondary">How to Play [follow Escape Pod for updates]</a></p>
               <h4>Download &amp; Print the Puzzles:</h4>
               <p><a href="/escape-pod-puzzlehunt-2016.pdf" class="btn btn-secondary">Agent Fieldbook</a></p>
            </div>
         </div>
         {% endif %}
      </div>
   </section>

   {% if page.home-page %}
   <section class="bg-black rooms" id="rooms">
      <div class="container">
         <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
              <h2>About Escape Pod</h2>
              <p class="lead">
                Escape Pod hosts three of Huntsville's most challenging and
                entertaining escape rooms!
                Find a way out and brag to your friends!
              </p>
            </div>
         </div>
         <div class="row">
            <div class="col-xs-12 col-md-4">
               <div class="card card-room">
                  <div class="header braun">
                     <div class="overlay">
                        <img src="/img/braun-logo.svg" alt="Von Braun's Office" class="logo">
                     </div>
                  </div>
                  <div class="content">
                     <p>The secretary left early and now the fate of the free world rests with you.</p>
                     <p><a href="http://escapepodgame.com/von-braun.html" class="btn btn-primary">Explore Room</a></p>
                  </div>
               </div>
            </div>
            <div class="col-xs-12 col-md-4">
               <div class="card card-room">
                  <div class="header spy">
                     <div class="overlay">
                        <img src="/img/spy-logo.svg" alt="Spy's Lair" class="logo">
                     </div>
                  </div>
                  <div class="content">
                     <p>Stop the second most incompetent evil spy known to man!</p>
                     <p><a href="http://escapepodgame.com/spy-lair.html" class="btn btn-primary">Explore Room</a></p>
                  </div>
               </div>
            </div>
            <div class="col-xs-12 col-md-4">
               <div class="card card-room">
                  <div class="header wonderland">
                     <div class="overlay">
                        <img src="/img/wonderland-logo.svg" alt="Wonderland" class="logo">
                     </div>
                  </div>
                  <div class="content">
                     <p>Tip toe through the giant mushrooms looking for Alice's missing kitten.</p>
                     <p><a href="http://escapepodgame.com/wonderland.html" class="btn btn-primary">Explore Room</a></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="bg-orange ticket">
      <div class="container">
         <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3 txt-center">
               <h4>So Do You Think You Can Escape?</h4>
               <p><a href="http://escapepodgame.com/" class="btn btn-secondary">Visit EscapePodGame.com</a></p>
            </div>
         </div>
      </div>
   </section>

   {% endif %}
